<body>
  <div class="center">
    
      <h2>サインイン</h2>
    
    <div class="block-field">
      <%= form_with(url: signin_path, scope: :session) do |f| %>
        <div class="box">
          
          <%= f.email_field :email, :placeholder => "Enter your email..." %>
        </div>
        <div class="box">
          
          <%= f.password_field :password, :placeholder => "Enter your password..." %>
          <%= f.label :remember_me do %>
          </div>
          <div class="box">
            <%= f.check_box :remember_me %>
             サインイン情報を記録する 
          </div>
        <% end %>
        <%= f.submit "サインイン", {class: "signin-button"} %>
      <% end %>
    </div>
  </div>
  <p>アカウト作成は<%= link_to "こちらから", signup_path %></p>
</div>
</body>
