<body>
  <div class="center">
    <h2>楽曲情報の編集</h2>
  </div>

  <%= form_with(model: @score, url: score_path(@score), method: :patch) do |form| %>

    <div class="flex-field">
      <div class="box">
        <%= form.label :name, "曲名" %>
        <%= form.text_field :name, value: @score.name %>
      </div>

      <div class="box">
        <%= form.label :composer, "作曲者" %>
        <%= form.text_field :composer, value: @score.composer %>
      </div>

      <div class="box">
        <%= form.label :arranger, "編曲者" %>
        <%= form.text_field :arranger, value: @score.arranger %>
      </div>

      <div class="box">
        <%= form.label :grade, "グレード" %>
        <%= form.text_field :grade, value: @score.grade %>
      </div>

      <div class="box">
        <%= form.label :m_time, "演奏時間" %>
        <%= form.text_field :m_time, value: @score.m_time %>
      </div>

      <div class = "box">
          <%= form.label :piccolo, "ピッコロ" %> 
          <%= form.text_field :piccolo %>
      </div>

      <div class = "box">
          <%= form.label :c_flute, "Cフルート" %> 
           <%= form.text_field :c_flute %>
      </div>

        <div class = "box">
            <%= form.label :oboe, "オーボエ" %> 
            <%= form.text_field :oboe %>
        </div>

      <div class = "box">
          <%= form.label :english_horn, "イングリッシュホルン" %> 
          <%= form.text_field :english_horn %>
      </div>

      <div class = "box">
          <%= form.label :e_clarinet, "Eクラリネット" %> 
          <%= form.text_field :e_clarinet %>
      </div>

      <div class = "box">
          <%= form.label :b_clarinet, "Bクラリネット" %> 
          <%= form.text_field :b_clarinet %>
      </div>

      <div class = "box">
          <%= form.label :b_bass_clarinet, "Bバスクラリネット" %> 
          <%= form.text_field :b_bass_clarinet %>
      </div>

      <div class = "box">
          <%= form.label :bassoon, "バスーン" %> 
          <%= form.text_field :bassoon %>
      </div>

      <div class = "box">
          <%= form.label :e_alto_saxophone, "Eアルトサクソフォーン" %> 
          <%= form.text_field :e_alto_saxophone %>
      </div>

      <div class = "box">
          <%= form.label :b_tenor_saxophone, "Bテナーサクソフォーン" %> 
          <%= form.text_field :b_tenor_saxophone %>
      </div>

      <div class = "box">
          <%= form.label :b_baritone_saxophone, "Bバリトーンサクソフォーン" %> 
          <%= form.text_field :b_baritone_saxophone %>
      </div>

      <div class = "box">
          <%= form.label :b_trumpet, "Bトランペット" %> 
          <%= form.text_field :b_trumpet %>
      </div>

      <div class = "box">
          <%= form.label :f_horn, "Fホルン" %> 
          <%= form.text_field :f_horn %>
      </div>

      <div class = "box">
          <%= form.label :trombone, "トロンボーン" %> 
          <%= form.text_field :trombone %>
      </div>

      <div class = "box">
          <%= form.label :eb, "エレクトリックベース" %> 
          <%= form.text_field :eb %>
      </div>

      <div class = "box">
          <%= form.label :euphonium, "ユーフォニアム" %> 
          <%= form.text_field :euphonium %>
      </div>

      <div class = "box">
          <%= form.label :tuba, "チューバ" %> 
          <%= form.text_field :tuba %>
      </div>

      <div class = "box">
          <%= form.label :string_bass, "ストリングバス" %> 
          <%= form.text_field :string_bass %>
      </div>

      <div class = "box">
          <%= form.label :piano, "ピアノ" %> 
          <%= form.text_field :piano %>
      </div>

      <div class = "box">
          <%= form.label :harp, "ハープ" %> 
          <%= form.text_field :harp %>
      </div>

      <div class = "box">
          <%= form.label :timpani, "ティンパニ" %> 
          <%= form.text_field :timpani %>
      </div>

      <div class = "box">
          <%= form.label :drums, "ドラム" %> 
          <%= form.text_field :drums %>
      </div>

      <div class = "box">
          <%= form.label :percussion, "パーカッション" %> 
          <%= form.text_field :percussion %>
      </div>

    <div>
      <%= form.submit "更新" %>
     </div>

    <div>
     <%= link_to "戻る", score_path(@score) %>
   </div>

  <% end %>
</body>
