<body>
  <div class="center">
    <div class="left">
      <h2>楽譜情報を登録</h2>
    </div>
    <h4>※使用楽器の複数選択はshiftキーor Commandキーを押しながらクリックするとできます．</h4>
    <div class="flex-field">
      <%= form_with model: @score do |form| %>
        <div class = "box">
          <%= form.label :name, "曲名" %> <%= form.text_field :name %>
        </div>
        <div class = "box">
          <%= form.label :composer, "作曲者" %> <%= form.text_field :composer %>
        </div>
        <div class = "box">
          <%= form.label :arranger, "編曲者" %> <%= form.text_field :name %>
        </div>
        <div class = "box">
          <%= form.label :grade, "グレード" %> <%= form.text_field :name %>
        </div>
        <div class = "box">
          <%= form.label :time, "演奏時間" %> <%= form.text_field :name %>
        </div>
        <%= form.submit "楽譜情報を登録" %>
      <% end %>
    </div>


    <div class = "box">
        <%= form.label :piccolo, "ピッコロ" %> 
        <%= form.piccolo_field :piccolo %>
    </div>

    <div class = "box">
        <%= form.label :c_flute, "Cフルート" %> 
        <%= form.c_flute_field :c_flute %>
    </div>

    <div class = "box">
        <%= form.label :oboe, "オーボエ" %> 
        <%= form.oboe_field :oboe %>
    </div>

    <div class = "box">
        <%= form.label :english_horn, "イングリッシュホルン" %> 
        <%= form.english_horn_field :english_horn %>
    </div>
    
    <div class = "box">
        <%= form.label :e_clarinet, "Eクラリネット" %> 
        <%= form.e_clarinet_field :e_clarinet %>
    </div>

    <div class = "box">
        <%= form.label :b_clarinet, "Bクラリネット" %> 
        <%= form.b_clarinet_field :b_clarinet %>
    </div>

    <div class = "box">
        <%= form.label :b_bass_clarinet, "Bバスクラリネット" %> 
        <%= form.b_bass_clarinet_field :b_bass_clarinet %>
    </div>

    <div class = "box">
        <%= form.label :bassoon, "バスーン" %> 
        <%= form.bassoon_field :bassoon %>
    </div>

    <div class = "box">
        <%= form.label :e_alt_saxophone, "Eアルトサクソフォーン" %> 
        <%= form.e_alt_saxophone_field : %>
    </div>

    <div class = "box">
        <%= form.label :b_tenor_saxophone, "Bテナーサクソフォーン" %> 
        <%= form.b_tenor_saxophone_field :b_tenor_saxophone %>
    </div>

    <div class = "box">
        <%= form.label :b_baritone_saxophone, "Bバリトーンサクソフォーン" %> 
        <%= form.b_baritone_saxophone_field :b_baritone_saxophone %>
    </div>

    <div class = "box">
        <%= form.label :b_trumpet, "Bトランペット" %> 
        <%= form.b_trumpet_field :b_trumpet %>
    </div>

    <div class = "box">
        <%= form.label :f_horn, "Fホルン" %> 
        <%= form.f_horn_field :f_horn %>
    </div>

    <div class = "box">
        <%= form.label :trombone, "トロンボーン" %> 
        <%= form.trombone_field :trombone %>
    </div>
    <div class = "box">
        <%= form.label :baritone, "バリトーン" %> 
        <%= form.baritone_field :baritone %>
    </div>
    <div class = "box">
        <%= form.label :tuba, "チューバ" %> 
        <%= form.tuba_field :tuba %>
    </div>
    <div class = "box">
        <%= form.label :string_bass, "ストリングバス" %> 
        <%= form.string_bass_field :string_bass %>
    </div>
    <div class = "box">
        <%= form.label :piano, "ピアノ" %> 
        <%= form.piano_field :piano %>
    </div>
    <div class = "box">
        <%= form.label :harp, "ハープ" %> 
        <%= form.harp_field :harp %>
    </div>
    <div class = "box">
        <%= form.label :timpani, "ティンパニ" %> 
        <%= form.timpani_field :timpani %>
    </div>
    <div class = "box">
        <%= form.label :drums, "ドラム" %> 
        <%= form.drums_field :drums %>
    </div>
    <div class = "box">
        <%= form.label :percussion, "パーカッション" %> 
        <%= form.percussion_field :percussion %>
    </div>

    <%= form.submit "楽譜情報を登録" %>
    <% end %>
</div>

</div>
</body>