<h1>ScoresController#new</h1>
<% provide(:button_text, "楽譜情報を登録") %>
<%= render 'form' %>
<body>
<div class="center">

<div class="left">
    <h2>楽譜情報を登録</h2>
</div>

<h3>※使用楽器の複数選択はshiftキーor Commandキーを押しながらクリックするとできます．</h3>

<div class="flex-field">
    <div class = "box">
        <%= form.label :name %> <%= from.text_field :name %>
    </div>

    <div class = "box">
        <%= form.label :composer %> <%= from.text_field :composer %>
    </div>

    <div class = "box">
        <%= form.label :arranger %> <%= from.text_field :name %>
    </div>

    <div class = "box">
        <%= form.label :grade %> <%= from.text_field :name %>
    </div>

    <div class = "box">
        <%= form.label :time %> <%= from.text_field :name %>
    </div>
</div>

    # <div class="box">
        <%= form.submit "確定" %>
    # <div class="">


    # <div class="">
    <%= form.submit "戻る" %>
    # <div class="">
<% end %>
</div>
</body>