<div>
  <%= form_with model: @user do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <div class="block-field">
      <div class="box">
        <%= form.text_field :name, placeholder: "名前（楽団名）", class: "text-field" %>
      </div>
      <div class="box">
        <%= form.email_field :email, placeholder: "Eメールアドレス", class: "text-field" %>
      </div>
      <div class="box">
        <%= form.password_field :password, placeholder: "パスワード", class: "text-field" %>
      </div>
      <div class="box">
        <%= form.password_field :password_confirmation, placeholder: "再確認", class: "text-field" %>
      </div>
      <div class="box">
        <%= form.check_box :accept_terms %>
        <%= form.label :accept_terms, "利用規約に同意する" %>
      </div>
      <div class="box">
        <%= form.submit yield(:button_text), class: yield(:button_class) %>
      </div>
    </div>
  </div>
<% end %>
</div>
