<body>
  <div class="center">
    <h1>UsersController#home</h1>
    
    <input type="checkbox" id="hide">
    <label class="hide" for="hide">使用楽器</label>
    <div class="hide-and-seek">
      <%= form_with model: @scores do |form| %>
        <%= form.check_box :use_gakki, {multiple: true} %>piccolo
        <%= form.check_box :use_gakki, {multiple: true} %>c_flute
        <%= form.check_box :use_gakki, {multiple: true} %>oboe
        <%= form.check_box :use_gakki, {multiple: true} %>english_horn
        <%= form.check_box :use_gakki, {multiple: true} %>e_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>b_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>b_bass_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>bassoon
        <%= form.check_box :use_gakki, {multiple: true} %>e_alto_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_tenor_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_baritone_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_trumpet
        <%= form.check_box :use_gakki, {multiple: true} %>f_horn
        <%= form.check_box :use_gakki, {multiple: true} %>trombone
        <%= form.check_box :use_gakki, {multiple: true} %>eb
        <%= form.check_box :use_gakki, {multiple: true} %>euphonium
        <%= form.check_box :use_gakki, {multiple: true} %>tuba
        <%= form.check_box :use_gakki, {multiple: true} %>string_bass
        <%= form.check_box :use_gakki, {multiple: true} %>piano
        <%= form.check_box :use_gakki, {multiple: true} %>harp
        <%= form.check_box :use_gakki, {multiple: true} %>timpani
        <%= form.check_box :use_gakki, {multiple: true} %>drums
        <%= form.check_box :use_gakki, {multiple: true} %>percussion
      <% end %>
    </div>
    <h2>楽譜一覧</h2>
    <% if !current_user.admin? %>
      <%= link_to "楽譜を登録する", new_score_path %>
    <% end %>
    <% if @scores.any? %>
      <ol>
        <% @scores.each do |score|%>
          <li>
            <%= link_to score.name, score%> | 
            <%= score.created_at %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</body>
