<body>
  <div class="center">
    <h1>UsersController#home</h1>
    <input type="checkbox" id="hide">
    <label class="hide" for="hide">使用楽器</label>
    <div class="hide-and-seek">
      <%= form_with model: @scores do |form| %>
        <%= form.check_box :use_gakki, {multiple: true} %>piccolo
        <%= form.check_box :use_gakki, {multiple: true} %>c_flute
        <%= form.check_box :use_gakki, {multiple: true} %>oboe
        <%= form.check_box :use_gakki, {multiple: true} %>english_horn
        <%= form.check_box :use_gakki, {multiple: true} %>e_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>b_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>b_bass_clarinet
        <%= form.check_box :use_gakki, {multiple: true} %>bassoon
        <%= form.check_box :use_gakki, {multiple: true} %>e_alto_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_tenor_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_baritone_saxophone
        <%= form.check_box :use_gakki, {multiple: true} %>b_trumpet
        <%= form.check_box :use_gakki, {multiple: true} %>f_horn
        <%= form.check_box :use_gakki, {multiple: true} %>trombone
        <%= form.check_box :use_gakki, {multiple: true} %>eb
        <%= form.check_box :use_gakki, {multiple: true} %>euphonium
        <%= form.check_box :use_gakki, {multiple: true} %>tuba
        <%= form.check_box :use_gakki, {multiple: true} %>string_bass
        <%= form.check_box :use_gakki, {multiple: true} %>piano
        <%= form.check_box :use_gakki, {multiple: true} %>harp
        <%= form.check_box :use_gakki, {multiple: true} %>timpani
        <%= form.check_box :use_gakki, {multiple: true} %>drums
        <%= form.check_box :use_gakki, {multiple: true} %>percussion
      <% end %>
    </div>
    <% if !current_user.admin? %>
      <%= link_to "楽譜を登録する", new_score_path %>
    <% end %>
    <% if @scores.present? %>
      <table>
        <tr>
          <th>曲名</th>
          <th>作曲者名</th>
          <th>編曲者名</th>
          <th>グレード</th>
        </tr>
        <% @scores.each do |score|%>
          <tr>
            <td><%= link_to score.name, score%></td>
            <td><%= score.composer %></td>
            <td><%= score.arranger %></td>
            <td><%= score.grade %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</body>
