<body>
  <div class="center">
    <div class="left"><h2>トップページ</h2></div>
    <%= form_with(scope: :score_search, method: :get, local: true, model: @score)  do |form| %>
      <div class="flex-field">
        <div class="box">
          <%= form.label :name, "曲名検索" %>
          <%= form.text_field :name , value: @score_params[:name] %>
        </div>
        <div class="box">
          <%= form.label :composer, "作曲者検索" %>
          <%= form.text_field :composer, value: @score_params[:composer] %>
        </div>
        <div class="box">
          <%= form.label :arranger, "編曲者検索" %>
          <%= form.text_field :arranger, value: @score_params[:arranger] %>
        </div>
      </div>
      <%= button_to "検索", score_path(form), {class: "search-button"} %>
      
      
      
      
      
      

    <% end %>
    <%= form_with(scope: :score_search_gakki, method: :get, local: true, model: @score)  do |form| %>
        <div class="box">
          <input type="checkbox" id="hide">
            <% if !current_user.admin? %>
              <label class="hide" for="hide">使用楽器から検索</label>
              <div class="hide-and-seek">
                  <div class="flex-field">
                  <div class="left">
                    <%= form.check_box :piccolo %><%= t('gakki.piccolo') %>
                    <%= form.check_box :c_flute %><%= t('gakki.c_flute') %>
                    <%= form.check_box :oboe %><%= t('gakki.oboe') %>
                    <%= form.check_box :english_horn %><%= t('gakki.english_horn') %>
                    <%= form.check_box :e_clarinet %><%= t('gakki.e_clarinet') %>
                    <%= form.check_box :b_clarinet %><%= t('gakki.b_clarinet') %>
                    <%= form.check_box :b_bass_clarinet %><%= t('gakki.b_bass_clarinet') %>
                    <%= form.check_box :bassoon %><%= t('gakki.bassoon') %>
                    <%= form.check_box :e_alto_saxophone %><%= t('gakki.e_alto_saxophone') %>
                    <%= form.check_box :b_tenor_saxophone %><%= t('gakki.b_tenor_saxophone') %>
                    <%= form.check_box :b_baritone_saxophone %><%= t('gakki.b_baritone_saxophone') %>
                    <%= form.check_box :b_trumpet %><%= t('gakki.b_trumpet') %>
                    <%= form.check_box :f_horn %><%= t('gakki.f_horn') %>
                    <%= form.check_box :trombone %><%= t('gakki.trombone') %>
                    <%= form.check_box :eb %><%= t('gakki.eb') %>
                    <%= form.check_box :euphonium %><%= t('gakki.euphonium') %>
                    <%= form.check_box :tuba %><%= t('gakki.tuba') %>
                    <%= form.check_box :string_bass %><%= t('gakki.string_bass') %>
                    <%= form.check_box :piano %><%= t('gakki.piano') %>
                    <%= form.check_box :harp %><%= t('gakki.harp') %>
                    <%= form.check_box :timpani %><%= t('gakki.timpani') %>
                    <%= form.check_box :drums %><%= t('gakki.drums') %>
                    <%= form.check_box :percussion %><%= t('gakki.percussion') %>
                    <%= button_to "使用楽器から検索", score_path(form), {class: "search-button"} %>
                  </div>
                  </div>
              </div>
            <% end %>
        </div>
    <% end %>    
    
    <% if !current_user.admin? %>
      <%= link_to "楽譜を登録する", new_score_path %>
    <% end %>
    
    <% if @scores.present? %>
      <table cellspacing="15">
        <tr>
          <th>グレードで並べ替え</th>
          <th>
            <%= link_to "降順", {controller: 'users', action: 'home', order: 'desc' } %>
          </th>
          <th>
            <%= link_to "昇順",  {controller: 'users', action: 'home', order: 'asc' } %>
          </th>
          <th>
            <%= link_to "元に戻す", {controller: 'users', action: 'home', order: 'normal' } %>
          </th>
        </tr>

        <tr>
          <th>曲名</th>
          <th>作曲者名</th>
          <th>編曲者名</th>
          <th>グレード</th>
          <th>演奏時間</th>
        </tr>
        <% @scores.each do |score|%>
          <tr>
            <td class="left"><%= link_to score.name, score%></td>
            <td class="center"><%= score.composer %></td>
            <td class="center"><%= score.arranger %></td>
            <td class="center"><%= score.grade %></td>
            <td class="center"><%= m2ms(score.m_time) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</body>
