<body>
<div class="center">
  <div class="left">
    <h1>UsersController#index</h1>
  </div>
    <%= form_with(scope: :user_search, method: :get, local: true) do |form| %>
      <div class="flex-field">
        <div class="box">
          <%= form.label :name, "ユーザ名検索" %>
          <%= form.text_field :name, value: @search_params[:name] %>
        </div>
        <div class="box">
          <%= form.label :email, "ユーザID検索" %>
          <%= form.text_field :email, value: @search_params[:email]%>
        </div>
      </div>
      <%= button_to "検索", user_path(form), {class: "search-button"} %>
    <% end %>

  <table cellspacing="15" frame="box">
    <tr>
      <th>ユーザ名</th><th>ユーザID</th>
    </tr>  
    <% @users.each do |user| %>
      <tr>
        <td align="left"><%= link_to user.name, user %></td>
        <td align="right"><%= user.email %></td>
      </tr>
    <% end %>
  </table>

</div>
</body>
