<body>
<div class="center">

<div class="left">
    <h2>ご利用登録</h2>
</div>
<div class="flex-field">
<%= form_with model: @user do |form| %>
    <%= form.label :name, "名前（楽団名）" %>
    <%= form.text_field :name %>
    <%= form.label :email, "Eメールアドレス" %>
    <%= form.email_field :email %>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
    <%= form.label :password_confirmation, "パスワードの再確認" %>
    <%= form.password_field :password_confirmation %>

    # 利用規約を表示する
    <%= form.submit "利用規約に同意して登録" %>
<% end %>
</div>

</div>
</body>