<h1>UsersController#show</h1>
<ul>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
</ul>
<%= link_to "編集する", edit_user_path(@user) %>
<h2>楽譜一覧</h2>
<% if !current_user.admin? %>
    <%= link_to "楽譜を登録する", new_score_path %>
<% end %>
<% if @user.scores.any? %>
    <ol>
        <%= render @scores %>
    </ol>
    <%= will_paginate @scores %>
<% end %>