<body>
  <div class="left">
    <h2>マイページ</h2>
  </div>
    
  <div class="center">
    <div>
      <small>作成日：<%= @user.created_at %></small>
    </div>

    <table>
      <tr>
        <th>ユーザ名</th><th>メールアドレス</th>
      </tr>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
      </tr>
    </table>

    <div>
      <% if current_user.admin? %>
        <%= link_to "楽譜一覧へ", home_path %>
      <% end %>
    </div>
    <div>
      <%= link_to "ログアウト", signout_path, data:{ "turbo-method": :delete } %>
      <%= link_to "アカウント削除", @user, data:{"turbo-method": :delete, turbo_confirm: "本当に削除しますか？"} %>
    </div>
    <div>
      <%= link_to "編集", edit_user_url(@user) %>
      <% if current_user.admin? %>
        <%= link_to "戻る", users_path %>
      <% else %>
        <%= link_to "戻る", home_path %>
      <% end %>
    </div>
  </div>
</body>
