<body>
  <div class="left">
    <h2><%= @user.name %>マイページ</h2>
  </div>
    
  <div class="center">

    <table cellspacing="15">
      <tr>
        <th>ユーザ名</th><th>メールアドレス</th>
      </tr>
      <tr>
        <td class="left"><%= @user.name %></td>
        <td class="right"><%= @user.email %></td>
      </tr>
    </table>

    <div>
      <small>アカウント作成日：<%= @user.created_at %></small>
    </div>

    <div>
      <% if current_user.admin? && current_user.id != @user.id %>
          <%= link_to "楽譜一覧へ", home_path %>
      <% end %>
    </div>

    <div class="button-field">
      <div class="box">
        <%= button_to "編集", edit_user_url(@user), class: "edit-button" %>
      </div>
      <div class="box">
        <%= button_to "アカウント削除", @user, data:{"turbo-method": :delete, turbo_confirm: "本当に削除しますか？"}, class: "delete-button" %>
      </div>
    </div>

    <div>
      <% if current_user.admin? %>
        <%= link_to "戻る", users_path %>
      <% else %>
        <%= link_to "戻る", home_path %>
      <% end %>
    </div>
  </div>
</body>
