---start of header---
<ul>
    <% if signed_in? %>
        サインイン中のユーザ：<%= current_user.name %>，<%= current_user.email %>，管理者[<%= current_user.admin %>]
        <% if current_user.admin %>
            <li><%= link_to "ユーザ一覧", users_path %></li>
            <li><%= link_to "管理者の情報", user_path(current_user) %>
        <% else %>
            <li><%= link_to "楽譜一覧", user_path(current_user) %></li>
            <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "ログアウト", signout_path , data:{ "turbo-method": :delete } %>
    <% else %>
        <li><%= link_to "サインイン", signin_path %></li>
    <% end %>
</ul>
---end of header---