<div class="header">
  <% if signed_in? %>
    <% if current_user.admin %>
        <div class="item"><%= link_to "ユーザ一覧", users_path, class: "none-border"%></div>
        <div class="item"><%= link_to "管理者の情報", user_path(current_user), class: "none-border" %></div>
        <% else %>
          <div class="item"><%= link_to "楽譜一覧", home_path(current_user), class: "none-border" %></div>
          <div class="item"><%= link_to "ユーザ情報", user_path(current_user), class: "none-border" %></div>
        <% end %>
        <div class="item"><%= link_to "ログアウト", signout_path , data:{ "turbo-method": :delete }, class: "none-border" %></div>
        <% else %>
          <div class="item"><%= link_to "サインイン", signin_path, class: "none-border" %></div>
        <% end %>
    </div>
    <hr>
